<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Angularjs Examples</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/popup.css">
</head>
<body>
<div class="header">
	<div class="container" ng-controller="titleCtrl">
		<h1 class="brand">{{title1}}</h1>
	</div>
</div>
<div class="wrapper">
	<div class="container">
		<div ng-controller="mainCtrl">
			<form name="todoForm" ng-submit="submitItem()" novalidate>
				<ul class="form-group">
					<li>
						<label>Caption</label>
						<input type="text" ng-pattern="/^[a-zA-Z0-9]*$/" name="caption" ng-model="list.captionInput" placeholder="What needs to be done?" >
						<!-- <input type="text" ng-pattern="/^[a-zA-Z0-9 ]*$/" ng-class="{errorinput: submitted && todoForm.caption.$invalid}" name="caption" ng-model="list.captionInput" placeholder="What needs to be done?" required> -->
						   <p ng-show="submitted && todoForm.caption.$invalid" class="error-msg">Only Alpha Numeric values are allowed</p>
					</li>
					<li>
						<label>Message</label>
						<input type="text" ng-pattern="/^[a-zA-Z0-9]*$/" name="description" ng-model="list.descriptionInput" placeholder="Enter your detailed message here" >
						<p ng-show="submitted && todoForm.description.$invalid" class="error-msg">Only Alpha Numeric values are allowed</p>
						<p></p>
					</li>
					<li>
						<input type="submit" class="btn btn-create btn-primary" ng-click="saveItem()" value="Create">
					</li>
				</ul>
			</form>
			<div class="search-section" ng-show="searchSection">
				<label>Search</label>
				<input type="text" ng-model="searchItem" class="form-control">
			</div>
			<div class="listed-item" ng-show="listContainer">
				<ul>
					<li ng-repeat="list in listedItems | filter:searchItem" class="list-group-item">
						<div class="caption-section">
							<h3>{{list.caption}}</h3><span>{{date | date:'dd-mm-yyyy @h:mma'}}</span>
						</div>
						<div class="description-section">
							<div class="description">{{list.description}}</div>
							<div class="action-section">
								<button class="action-btn">Edit</button>
								<button class="action-btn" ng-click="removeItem($index)">Delete</button>
							</div>
						</div>
					</li>
				</ul>
			</div> 
			
		</div>
	</div>

</div>
  	<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="js/main.js"></script>
<script src="js/common.js"></script>
</body>
</html>